<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <title>Git-it</title>
    <meta name="description" content="learn git and github">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/imgs/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body>
    {{{header}}}

    <div class="wrapper" id="challenge-body">
      {{{sidebar}}}
      <div class="content">
        {{{body}}}
        {{{footer}}}
      </div>
    </div>

    <script>
      var challengeStatus = require('../lib/challenge-completed.js')
      var currentChallenge = '{{{shortname}}}'
      challengeStatus.completed(currentChallenge)
    </script>

    <script>require('../lib/handle-external-links.js')</script>
    <script>require('../lib/languages.js')</script>
    <script>require('../lib/challenge.js')</script>
  </body>
</html>
