<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Git-it</title>
    <link rel="stylesheet" href="../assets/css/2-double-bounce.css">
    <link rel="stylesheet" href="../assets/css/new-style.css">
    <link rel="stylesheet" href="../assets/css/new-challenge.css">
    <link rel="stylesheet" href="../assets/css/buttons.css">
  </head>
  <body>
    {{{ header }}}

    <div class="wrapper" id="challenge-body">
      {{{ sidebar }}}
      <div class="content">
        {{{ body }}}
        {{{ footer }}}
      </div>
    </div>

    <script>
      var challengeStatus = require('../lib/challenge-completed.js')
      // TODO Get this from the DOM and don't do template in JS
      var currentChallenge = '{{{ shortname }}}'
      challengeStatus.completed(currentChallenge)
    </script>

    <script>require('../lib/handle-external-links.js')</script>
    <script>require('../lib/languages.js')</script>
    <script>require('../lib/challenge.js')</script>
  </body>
</html>
